body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("https://cache.careers360.mobi/media/presets/720X480/colleges/social-media/media-gallery/1032/2018/4/27/Poornima-University-Jaipur-(5)1.jpg");
    background-size: 130%;
    background-repeat: no-repeat;
    overflow: hidden;
} 
.row{
    text-align: center;
    font-size: xx-large;
    font-style: italic;
}
.first{
    font-style: normal;
    height: 20px;
    width: 250px;
    background-color: #d3e6da;
    position: absolute;
    top: 50%;
    left: 20%;
    color: rgb(12, 3, 3);
    transform: translate(-30%,-50%);
    box-sizing: content-box;
    border-radius: 20%;
    border-color: black;
}
.leave{
    text-align: center;
    height: 110px;
    color: rgba(0,0,0,0.7);
    padding: 2px 4px;
    margin: -43px auto;
    transform: scale(1.0);
    background-color: white;
    border-radius: 18px;
    border-right: 9px solid #a2230f;
    border-bottom: 8px solid #cc452e;  
}
h6{
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #a2230f;
    font-size: 20px;
    font-style: italic;
    text-align: right;
    text-decoration: solid;
    text-indent: 30px;

}
.second{
    height: 20px;
    width: 243px;
    background-color: #d3e6da;
    position: absolute;
    top: 50%;
    left: 8%;
    color: rgb(12, 3, 3);
    transform: translate(172%,-50%);
    box-sizing: content-box;
    border-color: black;
}
.third{
    height: 20px;
    width: 253px;
    background-color: #d3e6da;
    position: absolute;
    top: 74%;
    left: 20%;
    color: rgb(12, 3, 3);
    transform: translate(-32%,-50%);
    box-sizing: content-box;
    border-color: black;
}